body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logotxt {
    align-self: flex-start;
    font-size: 30px;
    color: white;
    text-shadow: 6px 5px 2px rgba(0, 0, 0, 0.84);
}

.signinbtndiv {
    text-align: center;
    align-self: flex-end;
    width: 100px;
    margin-right: 20px;
}
.signinbtndiv a,
.signupbtndiv a {
    text-decoration: none;
}
.signinbtn {
    text-align: center;
    color: white;
    line-height: 3;
    font-size: 18px;
}
.signupbtndiv {
    margin-left: 42%;
    line-height: 3;
    font-size: 18px;
    text-align: center;
    width: 100px;
    height: 40px;
}
.signinbtn:hover {
    border-radius: 10%;
    border: 1px solid white;
}
.signupbtn {
    color: white;
    border-radius: 10%;
    border: 1px solid white;
}

.signupbtn:hover {
    background-color: white;
    color: black;
}

.logobrand {
    left: 20px;
    height: 100px;
    position: absolute;
    top: 0;
}

.logotxt {
    -webkit-animation: tracking-in-expand 0.7s
        cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
main {
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(
            rgba(119, 136, 153, 0.65),
            rgba(119, 136, 153, 0.65)
        ),
        url("./bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.landing {
    margin-left: 30%;
    border-radius: 25%;
    width: 600px;
    height: 250px;
    margin-top: 15%;
    text-align: center;
    color: white;
}
.landing h2 {
    font-size: 30px;
}

.landing h3 {
    font-size: 20px;
}

.loginForm,
.regForm {
    text-align: center;
    height: 350px;
    width: 500px;
    margin: 100px auto 30px;
    padding: 20px;
    position: relative;
    /* Styles */
    background: #fffaf6;
    border-radius: 4px;
    color: #7e7975;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2),
        0 0 0 12px rgba(255, 255, 255, 0.4);
}
.regForm {
    height: 400px;
}
.loginForm h2,
.regForm h2 {
    font-size: 20px;
    font-weight: bold;
    color: #4f4c47;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebe6e2;
    text-shadow: 0 2px 0 rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.loginForm input[type="email"],
.loginForm input[type="password"],
.regForm input[type="email"],
.regForm input[type="text"],
.regForm input[type="password"] {
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: 470px;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}

.regForm input[type="email"]:hover,
.regForm input[type="text"]:hover,
.regForm input[type="password"]:hover,
.loginForm input[type="email"]:hover,
.loginForm input[type="password"]:hover {
    border-color: #ccc;
}

.regForm input[type="email"]:focus,
.regForm input[type="text"]:focus,
.regForm input[type="password"]:focus,
.loginForm input[type="text"]:focus,
.loginForm input[type="password"]:focus {
    border-color: #bbb;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.loginForm button[type="submit"],
.regForm button[type="submit"] {
    /* Size and position */
    width: 49%;
    height: 38px;
    float: left;
    position: relative;
    margin-top: 20px;
    /* Styles */
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    cursor: pointer;
    left: 120px;
    /* Font styles */
    font-size: 14px;
    line-height: 38px; /* Same as height */
    text-align: center;
    font-weight: bold;
    background: linear-gradient(#f5f2eb, #383734);
    border: 1px solid #170f04;
    color: #403424;
    text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

.loginForm p,
.regForm p {
    position: relative;
    margin-top: 85px;
}
/**
 * ----------------------------------------
 * animation tracking-in-expand-animista
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
/*********************************Nav bar +App************************************/
.mainAppdiv {
    background-color: #bebeaa;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.headerdiv {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
}
.headerappdiv {
    display: inline;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 20px;
}

.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    display: inline;
    padding: 20px;
    font-size: 1.2em;
    line-height: 60px;
    height: 80px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s background-color;
}

.nav a:hover {
    background-color: #6e7575;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}
.userloggeddiv {
    top: 30px;
    height: 100px;
    position: absolute;
    right: 20px;
}
/****************************************************************************/
/********************************codeMirror***********************************/
/****************************************************************************/
.codeShareMain {
    text-align: center;
    width: 300px;
    margin-top: 15%;
    margin-left: 40%;
    font-size: 18px;
}

.codeShareMain a {
    padding: 10px;
    text-decoration: none;
    line-height: 2;
    color: white;
}

.roomnav {
    color: white;
    border-radius: 5%;
    border: 1px solid white;
}

.roomnav:hover {
    background-color: white;
    color: black;
}
.modesel {
    line-height: 50px;
}
/*****************************************************************************/
.codeRoom {
    display: flex;
    justify-content: flex-start;
}
.codemirrordiv {
    margin-left: 30px;
    max-width: 720px;
    padding: 1em;
}

.ReactCodeMirror {
    border: 1px solid #ccc;
}
.react-codemirror2 {
    height: 800px;
    width: 600px;
}
.CodeMirror {
    height: 100% !important;
}
/*********************************************************************************/
.chatMessages,
.users {
    border: 1px solid #534d51;
    -webkit-box-shadow: -5px 6px 5px 0px rgba(36, 33, 36, 1);
    -moz-box-shadow: -5px 6px 5px 0px rgba(36, 33, 36, 1);
    box-shadow: -5px 6px 5px 0px rgba(36, 33, 36, 1);
}
.chatMessages h3,
.users h3 {
    color: white;
    background-color: gray;
}
.chats {
    margin: 20px;
}
.chat {
    position: relative;
    background: #dadada;
    border-radius: 0.4em;
    height: 50px;
}

.chat:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #dadada;
    border-top: 0;
    border-left: 0;
    margin-left: -10px;
    margin-top: -20px;
}

.chatmsg {
    margin-top: 20px;
    width: 400px;
    height: 50px;
}
